body {
    background: #ECE9FD;
    padding-top: 80px;
    font-family: 'Epilogue', sans-serif;
    color: #090039;
    margin: 0;
    justify-content: center;
    display: flex;
}

main {
    display: flex;
    margin-top: 17px;
}

.leftSide {
    width: 484px;
}

body span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    color: #7158EF;
    letter-spacing: 3px;
}

.leftSide h1 {
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 48px;
    margin-bottom: 31px;
    margin-top: 0;
}

.leftSide p {
    color: rgba(10, 0, 57, 0.64);
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 28px;
}

a {
    text-decoration: none;
    color: #090039;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.list {
    padding-left: 116px;
    margin-top: 23px;
}

.list ul {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    padding: 0;
    margin: 0;
}

li + li {
    margin-top:32px;
}

.list ul span {
    margin-right: 54px;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: -2px;
    color: #090039;
    width: 46px;
}

.list ul li {
    list-style-type: none;
    align-items: center;
    display: flex;
}

@media (max-width: 850px) {
    body {
        padding-top: 60px;
        padding-left: 40px;
        padding-right: 40px;
    }
    main {
        flex-direction: column;
    }
    .list {
        padding-left: 0px;
       
    }
    .leftSide {
        width: 100%;
    }
}